﻿@model ConferenceApp.UI.Features.Conference.ConferenceBulkEditViewModel

@{
    ViewBag.Title = "Bulk Edit";
}

<h2>Bulk Edit</h2>

<p>
    @Html.ActionLink("Add New Conference", "Add")
</p>

@using (Html.BeginForm("BulkEdit", "Conference", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Hash Tag
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Cost
            </th>
            <th>
                Attendees
            </th>
            <th></th>
        </tr>

        @for (int i = 0; i < Model.Details.Count; i++)
        {
            <tr>
                    @Html.HiddenFor(x => x.Details[i].Id)
                <td>
                    @Html.TextBoxFor(x => x.Details[i].ConferenceName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Details[i].ConferenceName, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DisplayFor(x => x.Details[i].HashTag, new { @class = "form-control-static" })
                    @Html.HiddenFor(x => x.Details[i].HashTag)
                </td>
                <td>
                    @Html.EditorFor(x => x.Details[i].StartDate)
                    @Html.ValidationMessageFor(x => x.Details[i].StartDate, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(x => x.Details[i].EndDate)
                    @Html.ValidationMessageFor(x => x.Details[i].EndDate, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(x => x.Details[i].Cost, "Currency")
                    @Html.ValidationMessageFor(x => x.Details[i].Cost, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DisplayFor(x => x.Details[i].AttendeeCount, new { @class = "form-control-static" })
                </td>
            </tr>
        }

    </table>

    <p>
        <input type="submit" value="Save" class="btn btn-default" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/conference")
}
