﻿@model ConferenceApp.UI.Features.Conference.ConferenceIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New Conference", "Add")
</p>
<p>
    @Html.ActionLink("Bulk Edit", "BulkEdit")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Hash Tag
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Cost
        </th>
        <th>
            Attendees
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < Model.Details.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => x.Details[i].ConferenceName)
            </td>
            <td>
                @Html.DisplayFor(x => x.Details[i].HashTag)
            </td>
            <td>
                @Html.DisplayFor(x => x.Details[i].StartDate)
            </td>
            <td>
                @Html.DisplayFor(x => x.Details[i].EndDate)
            </td>
            <td>
                @Html.DisplayFor(x => x.Details[i].Cost)
            </td>
            <td>
                @Html.DisplayFor(x => x.Details[i].AttendeeCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Details[i].Id })
            </td>
        </tr>
    }

</table>
